/* Write your CSS here */
.popup-content {
  background-color: #ffffff;
  width: 750px;
  height: 460px;
  border-radius: 16px;
}

.movie-img {
  width: 215px;
  height: 150px;
  border-radius: 8px;
  cursor: pointer;
}
.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.closeButton {
  align-self: flex-end;
  background-color: transparent;
  width: 28px;
  height: 28px;
  border: none;
  margin-top: 14px;
  margin-right: 14px;
  outline: none;
  cursor: pointer;
}

.movie-player-container {
  margin: 12px 48px 48px 48px;
}

@media screen and (min-width: 1200px) {
  .movie-img {
    width: 254px;
    height: 170px;
  }
}
